<tr>
  <td><%= customer.name %></td>
  <td><%= customer.email %></td>
  <td><%= customer.phone %><% if customer.phone_ext && customer.phone_ext != "" %> ext. <%= customer.phone_ext %><% end %></td>
  <td><%= customer.from_areacode %></td>
  <td><%= customer.from_zip %></td>
  <td><%= customer.from_state %></td>
  <td><%= customer.from_city %></td>
  <td><%= customer.to_areacode %></td>
  <td><%= customer.to_zip %></td>
  <td><%= customer.to_state %></td>
  <td><%= customer.to_city %></td>
  <td><%= customer.house_size %></td>
  <td><%= customer.distance %></td>
  <td><%= customer.move_date %></td>
</tr>