<div class="container">
  <caption>
    <%= form_tag customers_path, method: :get, class: 'form-inline pull-left' do %>
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search' %>
      <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to '+ Add New', new_customer_path, class: 'btn btn-default pull-right' %>
  </caption>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="4" class="text-center">From</th>
        <th colspan="4" class="text-center">To</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Areacode</th>
        <th>Zip</th>
        <th>State</th>
        <th>City</th>
        <th>Areacode</th>
        <th>Zip</th>
        <th>State</th>
        <th>City</th>
        <th>Bedrooms</th>
        <th>Distance</th>
        <th>Move Date</th>
      </tr>
    </thead>
    <tbody>
      <% if @customers.count > 0 %>
        <%= render @customers %>
      <% else %>
        <tr>
          <td colspan="14">
            <p class="text-center">
              No Results
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>