<div class="container">
  <%= form_for Customer.new do |f| %>
    <div class="form-group">
      <%= label_tag :email, 'Lead Text' %>
      <%= text_area_tag :email, nil, { class: 'form-control', rows: 5, placeholder: 'Copy and paste lead text' } %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', customers_path, class: 'btn btn-danger' %>
  <% end %>
</div>